<div class="container">
  <div class="row">
    <div class="col">
      <h4>会員情報編集</h4>
    </div>
  </div>
  
  <%= form_with model: @customer, url: customers_information_path, local: true, method: :PATCH do |f| %>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= f.label :name, "氏名" %>
      </div>
    </div>
    
    <div class="col">
      <div class="form-group">
        <%= f.text_field :last_name, class: "form_control" %>
      </div>
    </div>
  </div>
  
  
</div>