<div class="container">
  <div class="row">
    <div class="col">
      注文履歴詳細
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <table>
        <tr>
          <th>注文日</th>
          <td><%= @order.create.at %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td><%= @order.address %></td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method %></td>
        </tr>
        <tr>
          <th>ステータス</th>
          <td><%= @order.is_active %></td>
        </tr>
      </table>
    </div>
  </div>
</div>